<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         testdox="true"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="false"
         failOnPhpunitWarning="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src/load</directory>
            <directory>src/fields</directory>
            <directory>src/finalize</directory>
            <directory>src/safety</directory>
        </include>
    </source>
    <coverage>
        <report>
            <clover outputFile="build/coverage/clover.xml"/>
        </report>
    </coverage>
</phpunit>
